---
// Privacy Policy dialog
---

<dialog id="dialog-privacy" data-js="dialog-privacy" data-lenis-prevent aria-modal="true" aria-labelledby="dialog-privacy-title">
  <div class="container">
    <button class="close" autofocus data-js="dialog-privacy-close" aria-label="close dialog">
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.281 14.2198C15.3507 14.2895 15.406 14.3722 15.4437 14.4632C15.4814 14.5543 15.5008 14.6519 15.5008 14.7504C15.5008 14.849 15.4814 14.9465 15.4437 15.0376C15.406 15.1286 15.3507 15.2114 15.281 15.281C15.2114 15.3507 15.1286 15.406 15.0376 15.4437C14.9465 15.4814 14.849 15.5008 14.7504 15.5008C14.6519 15.5008 14.5543 15.4814 14.4632 15.4437C14.3722 15.406 14.2895 15.3507 14.2198 15.281L8.00042 9.06073L1.78104 15.281C1.64031 15.4218 1.44944 15.5008 1.25042 15.5008C1.05139 15.5008 0.860523 15.4218 0.719792 15.281C0.579062 15.1403 0.5 14.9494 0.5 14.7504C0.5 14.5514 0.579062 14.3605 0.719792 14.2198L6.9401 8.00042L0.719792 1.78104C0.579062 1.64031 0.5 1.44944 0.5 1.25042C0.5 1.05139 0.579062 0.860523 0.719792 0.719792C0.860523 0.579062 1.05139 0.5 1.25042 0.5C1.44944 0.5 1.64031 0.579062 1.78104 0.719792L8.00042 6.9401L14.2198 0.719792C14.3605 0.579062 14.5514 0.5 14.7504 0.5C14.9494 0.5 15.1403 0.579062 15.281 0.719792C15.4218 0.860523 15.5008 1.05139 15.5008 1.25042C15.5008 1.44944 15.4218 1.64031 15.281 1.78104L9.06073 8.00042L15.281 14.2198Z" fill="white"/>
      </svg>
    </button>
    <div class="inner">

      <div class="richtext richtext--small"> <span class="h2" id="dialog-privacy-title">Privacy Policy</span> <p><strong>Preamble</strong></p> <p>
With the following privacy policy we would like to inform you which
 types of your personal data (hereinafter also abbreviated as "data")
 we process for which purposes and in which scope. The privacy
 statement applies to all processing of personal data carried out by
 us, both in the context of providing our services and in particular on
 our websites, in mobile applications and within external online
 presences, such as our social media profiles (hereinafter collectively
 referred to as "online services").
</p> <p>The terms used are not gender-specific.</p> <p>Last Update: 2. August 2021</p> <p> <strong>Table of contents</strong> </p> <ul> <li>Preamble</li> <li>Controller</li> <li>Overview of processing operations</li> <li>Legal Bases for the Processing</li> <li>Security Precautions</li> <li>Erasure of data</li> <li>Business services</li> <li>Provision of online services and web hosting</li> <li>Blogs and publication media</li> <li>Contacting us</li> <li>Communication via Messenger</li> <li>
Video Conferences, Online Meetings, Webinars and Screen-Sharing
</li> <li>Music & Podcasts</li> <li>Cloud Services</li> <li>Newsletter and Electronic Communications</li> <li>Web Analysis, Monitoring and Optimization</li> <li>Profiles in Social Networks (Social Media)</li> <li>Management, Organization and Utilities</li> <li>Changes and Updates to the Privacy Policy</li> <li>Rights of Data Subjects</li> <li>Terminology and Definitions</li> </ul> <p> <strong>Controller</strong> <br>Jürgen Alker
<br>Friedensallee 54a
<br>22765 Hamburg
<br>Germany
</p> <p>Authorised Representatives: Jürgen Alker.</p> <p>
E-mail address: <a href="mailto:mail@alker.io">mail@alker.io</a>.
</p> <p>Phone: +49 40 288 033 09.</p> <p>
Legal Notice: <a href="#" data-js="dialog-legal-open">Imprint</a>.
</p> <p><strong>Overview of processing operations</strong></p> <p>
The following table summarises the types of data processed, the
 purposes for which they are processed and the concerned data subjects.
</p> <p>Categories of Processed Data</p> <ul> <li>Inventory data (e.g. names, addresses).</li> <li>Content data (e.g. text input, photographs, videos).</li> <li>Contact data (e.g. e-mail, telephone numbers).</li> <li>
Meta/communication data (e.g. device information, IP addresses).
</li> <li>
Usage data (e.g. websites visited, interest in content, access
 times).
</li> <li>
Contract data (e.g. contract object, duration, customer category).
</li> <li>Payment Data (e.g. bank details, invoices, payment history).</li> </ul> <p>Special Categories of Data</p> <ul> <li>Data revealing racial or ethnic origin.</li> </ul> <p>Categories of Data Subjects</p> <ul> <li>Employees (e.g. Employees, job applicants).</li> <li>Business and contractual partners.</li> <li>Prospective customers.</li> <li>Communication partner (Recipients of e-mails, letters, etc.).</li> <li>Customers.</li> <li>Users (e.g. website visitors, users of online services).</li> </ul> <p>Purposes of Processing</p> <ul> <li>Provision of our online services and usability.</li> <li>
Conversion tracking (Measurement of the effectiveness of marketing
 activities).
</li> <li>Office and organisational procedures.</li> <li>Content Delivery Network (CDN).</li> <li>Direct marketing&nbsp; (e.g. by e-mail or postal).</li> <li>Feedback (e.g. collecting feedback via online form).</li> <li>Marketing.</li> <li>Contact requests and communication.</li> <li>
Profiles with user-related information (Creating user profiles).
</li> <li>
Web Analytics (e.g. access statistics, recognition of returning
 visitors).
</li> <li>Provision of contractual services and customer support.</li> <li>Managing and responding to inquiries.</li> </ul> <p>Legal Bases for the Processing</p> <p>
In the following, you will find an overview of the legal basis of the
 GDPR on which we base the processing of personal data. Please note
 that in addition to the provisions of the GDPR, national data
 protection provisions of your or our country of residence or domicile
 may apply. If, in addition, more specific legal bases are applicable
 in individual cases, we will inform you of these in the data
 protection declaration.
</p> <ul> <li> <strong>Consent (Article 6 (1) (a) GDPR)</strong> - The data subject
 has given consent to the processing of his or her personal data for one
 or more specific purposes.
</li> <li> <strong>
Performance of a contract and prior requests (Article 6 (1) (b)
 GDPR)
</strong> - Performance of a contract to which the data subject is party
 or in order to take steps at the request of the data subject prior to
 entering into a contract.
</li> <li> <strong>
Compliance with a legal obligation (Article 6 (1) (c) GDPR)
</strong> - Processing is necessary for compliance with a legal obligation
 to which the controller is subject.
</li> <li> <strong>Legitimate Interests (Article 6 (1) (f) GDPR)</strong> - Processing
 is necessary for the purposes of the legitimate interests pursued by
 the controller or by a third party, except where such interests are overridden
 by the interests or fundamental rights and freedoms of the data subject
 which require protection of personal data.
</li> </ul> <p> <strong>National data protection regulations in Germany</strong>: In
 addition to the data protection regulations of the General Data
 Protection Regulation, national regulations apply to data protection
 in Germany. This includes in particular the Law on Protection against
 Misuse of Personal Data in Data Processing (Federal Data Protection
 Act - BDSG). In particular, the BDSG contains special provisions on
 the right to access, the right to erase, the right to object, the
 processing of special categories of personal data, processing for
 other purposes and transmission as well as automated individual
 decision-making, including profiling. Furthermore, it regulates data
 processing for the purposes of the employment relationship (§ 26
 BDSG), in particular with regard to the establishment, execution or
 termination of employment relationships as well as the consent of
 employees. Furthermore, data protection laws of the individual federal
 states may apply.
</p> <p><strong>Security Precautions</strong></p> <p>
We take appropriate technical and organisational measures in
 accordance with the legal requirements, taking into account the state
 of the art, the costs of implementation and the nature, scope, context
 and purposes of processing as well as the risk of varying likelihood
 and severity for the rights and freedoms of natural persons, in order
 to ensure a level of security appropriate to the risk.
</p> <p>
The measures include, in particular, safeguarding the confidentiality,
 integrity and availability of data by controlling physical and
 electronic access to the data as well as access to, input,
 transmission, securing and separation of the data. In addition, we
 have established procedures to ensure that data subjects' rights are
 respected, that data is erased, and that we are prepared to respond to
 data threats rapidly. Furthermore, we take the protection of personal
 data into account as early as the development or selection of
 hardware, software and service providers, in accordance with the
 principle of privacy by design and privacy by default.
</p> <p> <strong>SSL encryption (https)</strong>: In order to protect your data
 transmitted via our online services in the best possible way, we use
 SSL encryption. You can recognize such encrypted connections by the
 prefix https:// in the address bar of your browser.
</p> <p><strong>Erasure of data</strong></p> <p>
The data processed by us will be erased in accordance with the
 statutory provisions as soon as their processing is revoked or other
 permissions no longer apply (e.g. if the purpose of processing this
 data no longer applies or they are not required for the purpose).
</p> <p>
If the data is not deleted because they are required for other and
 legally permissible purposes, their processing is limited to these
 purposes. This means that the data will be restricted and not
 processed for other purposes. This applies, for example, to data that
 must be stored for commercial or tax reasons or for which storage is
 necessary to assert, exercise or defend legal claims or to protect the
 rights of another natural or legal person.
</p> <p>
In the context of our information on data processing, we may provide
 users with further information on the deletion and retention of data
 that is specific to the respective processing operation.
</p> <p><strong>Business services</strong></p> <p>
We process data of our contractual and business partners, e.g.
 customers and interested parties (collectively referred to as
 "contractual partners") within the context of contractual and
 comparable legal relationships as well as associated actions and
 communication with the contractual partners or pre-contractually, e.g.
 to answer inquiries.
</p> <p>
We process this data in order to fulfil our contractual obligations,
 safeguard our rights and for the purposes of the administrative tasks
 associated with this data and the business-related organisation. We
 will only pass on the data of the contractual partners within the
 scope of the applicable law to third parties insofar as this is
 necessary for the aforementioned purposes or for the fulfilment of
 legal obligations or with the consent of data subjects concerned (e.g.
 telecommunications, transport and other auxiliary services as well as
 subcontractors, banks, tax and legal advisors, payment service
 providers or tax authorities). The contractual partners will be
 informed about further processing, e.g. for marketing purposes, as
 part of this privacy policy.
</p> <p>
Which data are necessary for the aforementioned purposes, we inform
 the contracting partners before or in the context of the data
 collection, e.g. in online forms by special marking (e.g. colors),
 and/or symbols (e.g. asterisks or the like), or personally.
</p> <p>
We delete the data after expiry of statutory warranty and comparable
 obligations, i.e. in principle after expiry of 4 years, unless the
 data is stored in a customer account or must be kept for legal reasons
 of archiving (e.g., as a rule 10 years for tax purposes). In the case
 of data disclosed to us by the contractual partner within the context
 of an assignment, we delete the data in accordance with the
 specifications of the assignment, in general after the end of the
 assignment.
</p> <p>
If we use third-party providers or platforms to provide our services,
 the terms and conditions and privacy policies of the respective
 third-party providers or platforms shall apply in the relationship
 between the users and the providers.
</p> <p> <strong>Coaching</strong>: We process the data of our clients and
 interested parties and other clients or contractual partners
 (uniformly referred to as "clients") in order to provide them with our
 services. The data processed, the type, scope and purpose of their
 processing and the necessity of their processing are determined by the
 underlying contractual and client relationship.
</p> <p>
Within the scope of our services, we may also process special
 categories of data, here in particular information on the health of
 clients, possibly with reference to their sexual life or sexual
 orientation and data revealing racial or ethnic origin, political
 opinions, religious or philosophical beliefs. To this end, we obtain
 the express consent of clients where necessary and process the special
 categories of data otherwise for the purposes of health care, if the
 data is public or with another legal permission.
</p> <p>
Insofar as it is necessary for the fulfilment of our contractual
 obligations, the protection of vital interests or by law, or with
 theclients's consent, we disclose or transfer the clients's data to
 third parties or agents, such as public authorities, accounting
 offices and in the field of IT, office or comparable services, in
 compliance with professional regulations.
</p> <p> <strong>Consulting</strong>: We process the data of our clients,
 clients as well as interested parties and other clients or contractual
 partners (uniformly referred to as "clients") in order to provide them
 with our consulting services. The data processed, the type, scope and
 purpose of the processing and the necessity of its processing are
 determined by the underlying contractual and client relationship.
</p> <p>
Insofar as it is necessary for the fulfilment of our contract, for the
 protection of vital interests or by law, or with the consent of the
 client, we disclose or transfer the client's data to third parties or
 agents, such as authorities, courts, subcontractors or in the field of
 IT, office or comparable services, taking into account the
 professional requirements.
</p> <p> <strong>Consulting</strong>: Insofar as it is necessary for our
 contractual performance or required by law, or if the consent of the
 customer has been obtained, we disclose or transfer the customer's
 data to third parties or agents, such as authorities, courts or in the
 field of IT, office or comparable services, in compliance with the
 contractual and legal requirements.
</p> <ul> <li> <strong>Processed data types:</strong> Inventory data (e.g. names, addresses),
 Payment Data (e.g. bank details, invoices, payment history), Contact
 data (e.g. e-mail, telephone numbers), Contract data (e.g. contract object,
 duration, customer category).
</li> <li> <strong>Special categories of personal data:</strong> Health Data (Article
 9 (1) GDPR), Data related to sexual preferences, sex life, and/or sexual
 orientation (Article 9 (1) GDPR), Religious or philosophical beliefs
 (Article 9 (1) GDPR), Data revealing racial or ethnic origin.
</li> <li> <strong>Data subjects:</strong> Prospective customers, Business and contractual
 partners, Customers.
</li> <li> <strong>Purposes of Processing:</strong> Provision of contractual services
 and customer support, Contact requests and communication, Office and
 organisational procedures, Managing and responding to inquiries.
</li> <li> <strong>Legal Basis:</strong> Performance of a contract and prior requests
 (Article 6 (1) (b) GDPR), Compliance with a legal obligation (Article
 6 (1) (c) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
</li> </ul> <p> <strong>Provision of online services and web hosting</strong> </p> <p>
In order to provide our online services securely and efficiently, we
 use the services of one or more web hosting providers from whose
 servers (or servers they manage) the online services can be accessed.
 For these purposes, we may use infrastructure and platform services,
 computing capacity, storage space and database services, as well as
 security and technical maintenance services.
</p> <p>
The data processed within the framework of the provision of the
 hosting services may include all information relating to the users of
 our online services that is collected in the course of use and
 communication. This regularly includes the IP address, which is
 necessary to be able to deliver the contents of online services to
 browsers, and all entries made within our online services or from
 websites.
</p> <p> <strong>Collection of Access Data and Log Files</strong>: We,
 ourselves or our web hosting provider, collect data on the basis of
 each access to the server (so-called server log files). Server log
 files may include the address and name of the web pages and files
 accessed, the date and time of access, data volumes transferred,
 notification of successful access, browser type and version, the
 user's operating system, referrer URL (the previously visited page)
 and, as a general rule, IP addresses and the requesting provider.
</p> <p>
The server log files can be used for security purposes, e.g. to avoid
 overloading the servers (especially in the case of abusive attacks,
 so-called DDoS attacks) and to ensure the stability and optimal load
 balancing of the servers .
</p> <p> <strong>Content-Delivery-Network</strong>: We use a so-called "Content
 Delivery Network" (CDN). A CDN is a service with whose help contents
 of our online services, in particular large media files, such as
 graphics or scripts, can be delivered faster and more securely with
 the help of regionally distributed servers connected via the Internet.
</p> <ul> <li> <strong>Processed data types:</strong> Content data (e.g. text input,
 photographs, videos), Usage data (e.g. websites visited, interest in
 content, access times), Meta/communication data (e.g. device information,
 IP addresses).
</li> <li> <strong>Data subjects:</strong> Users (e.g. website visitors, users of
 online services).
</li> <li> <strong>Purposes of Processing:</strong> Provision of our online services
 and usability, Content Delivery Network (CDN).
</li> <li> <strong>Legal Basis:</strong> Legitimate Interests (Article 6 (1) (f)
 GDPR).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Vercel:</strong> Hosting and services for web applications and
 websites; Service provider: Vercel, Inc, 340 S Lemon Ave #4133, Walnut,
 California 91789, USA; Website:
<a href="https://vercel.com"> https://vercel.com </a>; Privacy
 Policy:
<a href="https://vercel.com/legal/privacy-policy">
https://vercel.com/legal/privacy-policy
</a>.
</li> </ul> <p><strong>Blogs and publication media</strong></p> <p>
We use blogs or comparable means of online communication and
 publication (hereinafter "publication medium"). Readers' data will
 only be processed for the purposes of the publication medium to the
 extent necessary for its presentation and communication between
 authors and readers or for security reasons. For the rest, we refer to
 the information on the processing of visitors to our publication
 medium within the scope of this privacy policy.
</p> <ul> <li> <strong>Processed data types:</strong> Inventory data (e.g. names, addresses),
 Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text
 input, photographs, videos), Usage data (e.g. websites visited, interest
 in content, access times), Meta/communication data (e.g. device information,
 IP addresses).
</li> <li> <strong>Data subjects:</strong> Users (e.g. website visitors, users of
 online services).
</li> <li> <strong>Purposes of Processing:</strong> Provision of contractual services
 and customer support, Feedback (e.g. collecting feedback via online form).
</li> <li> <strong>Legal Basis:</strong> Performance of a contract and prior requests
 (Article 6 (1) (b) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Medium:</strong> Hosting platform for blogs / websites; Service
 provider: A Medium Corporation, P.O. Box 602, San Francisco, CA 94104–0602,
 USA; Website:
<a href="https://medium.com/">https://medium.com/</a>; Privacy
 Policy:
<a href="https://medium.com/policy/medium-privacy-policy-f03bf92035c9">
https://medium.com/policy/medium-privacy-policy-f03bf92035c9
</a>.
</li> </ul> <p><strong>Contacting us</strong></p> <p>
When contacting us (e.g. by contact form, e-mail, telephone or via
 social media), the data of the inquiring persons are processed insofar
 as this is necessary to answer the contact enquiries and any requested
 activities.
</p> <p>
The response to contact enquiries within the framework of contractual
 or pre-contractual relationships is made in order to fulfil our
 contractual obligations or to respond to (pre)contractual enquiries
 and otherwise on the basis of the legitimate interests in responding
 to the enquiries.
</p> <ul> <li> <strong>Processed data types:</strong> Inventory data (e.g. names, addresses),
 Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text
 input, photographs, videos).
</li> <li> <strong>Data subjects:</strong> Communication partner (Recipients of
 e-mails, letters, etc.).
</li> <li> <strong>Purposes of Processing:</strong> Contact requests and communication.
</li> <li> <strong>Legal Basis:</strong> Performance of a contract and prior requests
 (Article 6 (1) (b) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
</li> </ul> <p><strong>Communication via Messenger</strong></p> <p>
We use messenger services for communication purposes and therefore ask
 you to observe the following information regarding the functionality
 of the messenger services, encryption, use of the metadata of the
 communication and your objection options.
</p> <p>
You can also contact us by alternative means, e.g. telephone or
 e-mail. Please use the contact options provided to you or use the
 contact options provided within our online services.
</p> <p>
In the case of encryption of content (i.e. the content of your message
 and attachments), we point out that the communication content (i.e.
 the content of the message and attachments) is encrypted end-to-end.
 This means that the content of the messages is not visible, not even
 by the messenger service providers themselves. You should always use a
 current version of the messenger service with activated encryption, so
 that the encryption of the message contents is guaranteed.
</p> <p>
However, we would like to point out to our communication partners that
 although messenger service providers do not see the content, they can
 find out that and when communication partners communicate with us and
 process technical information on the communication partner's device
 used and, depending on the settings of their device, also location
 information (so-called metadata).
</p> <p> <strong>Information on Legal basis:</strong> If we ask communication partners
 for permission before communicating with them via messenger services, the
 legal basis of our processing of their data is their consent. Otherwise,
 if we do not request consent and you contact us, for example, voluntarily,
 we use messenger services in our dealings with our contractual partners
 and as part of the contract initiation process as a contractual measure
 and in the case of other interested parties and communication partners
 on the basis of our legitimate interests in fast and efficient communication
 and meeting the needs of our communication partners for communication via
 messenger services. We would also like to point out that we do not transmit
 the contact data provided to us to the messenger service providers for
 the first time without your consent.
</p> <p> <strong>Withdrawal, objection and deletion:</strong> You can withdraw your
 consent or object to communication with us via messenger services at any
 time.In the case of communication via messenger services, we delete the
 messages in accordance with our general data retention policy (i.e. as
 described above after the end of contractual relationships, archiving requirements,
 etc.) and otherwise as soon as we can assume that we have answered any
 information provided by the communication partners, if no reference to
 a previous conversation is to be expected and there are no legal obligations
 to store the messages to prevent their deletion.
</p> <p> <strong>
Reservation of reference to other means of communication:
</strong> Finally, we would like to point out that we reserve the right,
 for reasons of your safety, not to answer inquiries about messenger services.
 This is the case if, for example, internal contractual matters require
 special secrecy or if an answer via the messenger services does not meet
 the formal requirements. In such cases we refer you to more appropriate
 communication channels.
</p> <ul> <li> <strong>Processed data types:</strong> Contact data (e.g. e-mail, telephone
 numbers), Usage data (e.g. websites visited, interest in content, access
 times), Meta/communication data (e.g. device information, IP addresses),
 Content data (e.g. text input, photographs, videos).
</li> <li> <strong>Data subjects:</strong> Communication partner (Recipients of
 e-mails, letters, etc.).
</li> <li> <strong>Purposes of Processing:</strong> Contact requests and communication,
 Direct marketing (e.g. by e-mail or postal).
</li> <li> <strong>Legal Basis:</strong> Consent (Article 6 (1) (a) GDPR), Legitimate
 Interests (Article 6 (1) (f) GDPR).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Signal:</strong> Signal Messenger with end-to-end encryption;
 Service provider: Privacy Signal Messenger, LLC 650 Castro Street, Suite
 120-223 Mountain View, CA 94041, USA; Website:
<a href="https://signal.org/">https://signal.org/</a>; Privacy
 Policy:
<a href="https://signal.org/legal/"> https://signal.org/legal/ </a>.
</li> <li> <strong>Slack:</strong> Slack Messenger without end-to-end encryption; Service
 provider: Slack Technologies, Inc., 500 Howard Street, San Francisco,
 CA 94105, USA; Website:
<a href="https://slack.com/"> https://slack.com/ </a>; Privacy
 Policy:
<a href="https://slack.com/intl/en-de/legal">
https://slack.com/intl/en-de/legal
</a>.
</li> <li> <strong>WhatsApp:</strong> WhatsApp Messenger with end-to-end encryption;
 Service provider: WhatsApp Ireland Limited, 4 Grand Canal Quay, Dublin
 2, D02 KH28, Ireland; Website:
<a href="https://www.whatsapp.com/">https://www.whatsapp.com/</a>;
 Privacy Policy:
<a href="https://www.whatsapp.com/legal">
https://www.whatsapp.com/legal
</a>.
</li> </ul> <p> <strong>
Video Conferences, Online Meetings, Webinars and Screen-Sharing
</strong> </p> <p>
We use platforms and applications of other providers (hereinafter
 referred to as "Conference Platforms") for the purpose of conducting
 video and audio conferences, webinars and other types of video and
 audio meetings (hereinafter collectively referred to as "Conference").
 When using the Conference Platforms and their services, we comply with
 the legal requirements.
</p> <p> <strong>Data processed by Conference Platforms:</strong> In the course
 of participation in a Conference, the Data of the participants listed below
 are processed. The scope of the processing depends, on the one hand, on
 which data is requested in the context of a specific Conference (e.g.,
 provision of access data or clear names) and which optional information
 is provided by the participants. In addition to processing for the purpose
 of conducting the conference, participants' Data may also be processed
 by the Conference Platforms for security purposes or service optimization.
 The processed Date includes personal information (first name, last name),
 contact information (e-mail address, telephone number), access data (access
 codes or passwords), profile pictures, information on professional position/function,
 the IP address of the internet access, information on the participants'
 end devices, their operating system, the browser and its technical and
 linguistic settings, information on the content-related communication processes,
 i.e. entries in chats and audio and video data, as well as the use of other
 available functions (e.g. surveys). The content of communications is encrypted
 to the extent technically provided by the conference providers. If participants
 are registered as users with the Conference Platforms, then further data
 may be processed in accordance with the agreement with the respective Conference
 Provider.
</p> <p> <strong>Logging and recording:</strong> If text entries, participation
 results (e.g. from surveys) as well as video or audio recordings are recorded,
 this will be transparently communicated to the participants in advance
 and they will be asked - if necessary - for their consent.
</p> <p> <strong>Data protection measures of the participants:</strong> Please refer
 to the data privacy information of the Conference Platforms for details
 on the processing of your data and select the optimum security and data
 privacy settings for you within the framework of the settings of the conference
 platforms. Furthermore, please ensure data and privacy protection in the
 background of your recording for the duration of a Conference (e.g., by
 notifying roommates, locking doors, and using the background masking function,
 if technically possible). Links to the conference rooms as well as access
 data, should not be passed on to unauthorized third parties.
</p> <p> <strong>Notes on legal bases:</strong> Insofar as, in addition to the Conference
 Platforms, we also process users' data and ask users for their consent
 to use contents from the Conferences or certain functions (e.g. consent
 to a recording of Conferences), the legal basis of the processing is this
 consent. Furthermore, our processing may be necessary for the fulfillment
 of our contractual obligations (e.g. in participant lists, in the case
 of reprocessing of Conference results, etc.).Otherwise, user data is processed
 on the basis of our legitimate interests in efficient and secure communication
 with our communication partners.
</p> <ul> <li> <strong>Processed data types:</strong> Inventory data (e.g. names, addresses),
 Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text
 input, photographs, videos), Usage data (e.g. websites visited, interest
 in content, access times), Meta/communication data (e.g. device information,
 IP addresses).
</li> <li> <strong>Data subjects:</strong> Communication partner (Recipients of
 e-mails, letters, etc.), Users (e.g. website visitors, users of online
 services).
</li> <li> <strong>Purposes of Processing:</strong> Provision of contractual services
 and customer support, Contact requests and communication, Office and
 organisational procedures.
</li> <li> <strong>Legal Basis:</strong> Consent (Article 6 (1) (a) GDPR), Performance
 of a contract and prior requests (Article 6 (1) (b) GDPR), Legitimate
 Interests (Article 6 (1) (f) GDPR).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Google Hangouts / Meet:</strong> Messenger and conference software;
 Service provider: Google Ireland Limited, Gordon House, Barrow Street,
 Dublin 4, Ireland, parent company: Google LLC, 1600 Amphitheatre Parkway,
 Mountain View, CA 94043, USA; Website:
<a href="https://hangouts.google.com/">
https://hangouts.google.com/
</a>; Privacy Policy:
<a href="https://policies.google.com/privacy">
https://policies.google.com/privacy
</a>.
</li> <li> <strong>Microsoft Teams:</strong> Messenger and conference software;
 Service provider: Microsoft Corporation, One Microsoft Way, Redmond,
 WA 98052-6399 USA; Website:
<a href="https://products.office.com">
https://products.office.com
</a>; Privacy Policy:
<a href="https://privacy.microsoft.com/de-de/privacystatement">
https://privacy.microsoft.com/de-de/privacystatement
</a>, Security information:
<a href="https://www.microsoft.com/de-de/trustcenter">
https://www.microsoft.com/de-de/trustcenter
</a>.
</li> <li> <strong>Slack:</strong> Messenger and conference software; Service provider:
 Slack Technologies, Inc., 500 Howard Street, San Francisco, CA 94105,
 USA; Website:
<a href="https://slack.com/">https://slack.com/</a>; Privacy Policy:
<a href="https://slack.com/intl/en-de/legal">
https://slack.com/intl/en-de/legal
</a>.
</li> <li> <strong>Zoom:</strong> Video Conferencing, Web Conferencing and Webinars;
 Service provider: Zoom Video Communications, Inc., 55 Almaden Blvd.,
 Suite 600, San Jose, CA 95113, USA; Website:
<a href="https://zoom.us">https://zoom.us</a>; Privacy Policy:
<a href="https://zoom.us/docs/de-de/privacy-and-legal.html">
https://zoom.us/docs/de-de/privacy-and-legal.html
</a>; Standard Contractual Clauses (Safeguarding the level of data
 protection when processing data in third countries):
<a href="https://zoom.us/docs/de-de/privacy-and-legal.html">
https://zoom.us/docs/de-de/privacy-and-legal.html
</a> (referred to as Global DPA).
</li> </ul> <p><strong>Music & Podcasts</strong></p> <p>
We use hosting and analysis services of service providers to offer our
 audio content for listening to or downloading and to obtain
 statistical information on the request of the audio content.
</p> <ul> <li> <strong>Processed data types:</strong> Usage data (e.g. websites visited,
 interest in content, access times), Meta/communication data (e.g. device
 information, IP addresses).
</li> <li> <strong>Data subjects:</strong> Users (e.g. website visitors, users of
 online services).
</li> <li> <strong>Purposes of Processing:</strong> Web Analytics (e.g. access statistics,
 recognition of returning visitors), Conversion tracking (Measurement
 of the effectiveness of marketing activities), Profiles with user-related
 information (Creating user profiles).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Podigee:</strong> Podigee - Music and Podcast Hosting; Service
 provider: Podigee GmbH, Schlesische Straße 20, 10997 Berlin, Germany;
 Website:
<a href="https://www.podigee.com"> https://www.podigee.com</a>;
 Privacy Policy:
<a href="https://www.podigee.com/de/about/privacy/">
https://www.podigee.com/de/about/privacy/
</a>.
</li> </ul> <p><strong>Cloud Services</strong></p> <p>
We use Internet-accessible software services (so-called "cloud
 services", also referred to as "Software as a Service") provided on
 the servers of its providers for the following purposes: document
 storage and administration, calendar management, e-mail delivery,
 spreadsheets and presentations, exchange of documents, content and
 information with specific recipients or publication of websites, forms
 or other content and information, as well as chats and participation
 in audio and video conferences.
</p> <p>
Within this framework, personal data may be processed and stored on
 the provider's servers insofar as this data is part of communication
 processes with us or is otherwise processed by us in accordance with
 this privacy policy. This data may include in particular master data
 and contact data of data subjects, data on processes, contracts, other
 proceedings and their contents. Cloud service providers also process
 usage data and metadata that they use for security and service
 optimization purposes.
</p> <p>
If we use cloud services to provide documents and content to other
 users or publicly accessible websites, forms, etc., providers may
 store cookies on users' devices for web analysis or to remember user
 settings (e.g. in the case of media control).
</p> <p> <strong>Information on legal basis -&nbsp;</strong> If we ask for permission
 to use cloud services, the legal basis for processing data is consent.
 Furthermore, their use can be a component of our (pre)contractual services,
 provided that the use of cloud services has been agreed in this context.
 Otherwise, user data will be processed on the basis of our legitimate interests
 (i.e. interest in efficient and secure administrative and collaboration
 processes).
</p> <ul> <li> <strong>Processed data types:</strong> Inventory data (e.g. names, addresses),
 Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text
 input, photographs, videos), Usage data (e.g. websites visited, interest
 in content, access times), Meta/communication data (e.g. device information,
 IP addresses), Contract data (e.g. contract object, duration, customer
 category).
</li> <li> <strong>Data subjects:</strong> Customers, Employees (e.g. Employees,
 job applicants), Prospective customers, Communication partner (Recipients
 of e-mails, letters, etc.).
</li> <li> <strong>Purposes of Processing:</strong> Office and organisational procedures.
</li> <li> <strong>Legal Basis:</strong> Consent (Article 6 (1) (a) GDPR), Performance
 of a contract and prior requests (Article 6 (1) (b) GDPR), Legitimate
 Interests (Article 6 (1) (f) GDPR).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Apple iCloud:</strong> Cloud storage services; Service provider:
 Apple Inc., Infinite Loop, Cupertino, CA 95014, USA; Website:
<a href="https://www.apple.com">https://www.apple.com</a>; Privacy
 Policy:
<a href="https://www.apple.com/legal/privacy/en-ww/">
https://www.apple.com/legal/privacy/en-ww/
</a>.
</li> <li> <strong>Dropbox:</strong> Cloud storage services; Service provider: Dropbox,
 Inc., 333 Brannan Street, San Francisco, California 94107, USA; Website:
<a href="https://www.dropbox.com">https://www.dropbox.com</a>;
 Privacy Policy:
<a href="https://www.dropbox.com/privacy">
https://www.dropbox.com/privacy
</a>; Standard Contractual Clauses (Safeguarding the level of data
 protection when processing data in third countries):
<a href="https://assets.dropbox.com/documents/en/legal/data-processing-agreement-dfb-013118.pdf">
https://assets.dropbox.com/documents/en/legal/data-processing-agreement-dfb-013118.pdf
</a>.
</li> <li> <strong>Google Cloud Services:</strong> Cloud storage services; Service
 provider: Google Ireland Limited, Gordon House, Barrow Street, Dublin
 4, Ireland, parent company: Google LLC, 1600 Amphitheatre Parkway, Mountain
 View, CA 94043, USA; Website:
<a href="https://cloud.google.com/"> https://cloud.google.com/ </a>;
 Privacy Policy:
<a href="https://www.google.com/policies/privacy">
https://www.google.com/policies/privacy</a>, Security information:
<a href="https://cloud.google.com/security/privacy">
https://cloud.google.com/security/privacy</a>.
</li> </ul> <p> <strong>Newsletter and Electronic Communications</strong> </p> <p>
We send newsletters, e-mails and other electronic communications
 (hereinafter referred to as "newsletters") only with the consent of
 the recipient or a legal permission. Insofar as the contents of the
 newsletter are specifically described within the framework of
 registration, they are decisive for the consent of the user.
 Otherwise, our newsletters contain information about our services and
 us.
</p> <p>
In order to subscribe to our newsletters, it is generally sufficient
 to enter your e-mail address. We may, however, ask you to provide a
 name for the purpose of contacting you personally in the newsletter or
 to provide further information if this is required for the purposes of
 the newsletter.
</p> <p> <strong>Double opt-in procedure:</strong> The registration to our newsletter
 takes place in general in a so-called Double-Opt-In procedure. This means
 that you will receive an e-mail after registration asking you to confirm
 your registration. This confirmation is necessary so that no one can register
 with external e-mail addresses.
</p> <p>
The registrations for the newsletter are logged in order to be able to
 prove the registration process according to the legal requirements.
 This includes storing the login and confirmation times as well as the
 IP address. Likewise the changes of your data stored with the dispatch
 service provider are logged.
</p> <p> <strong>Deletion and restriction of processing:</strong> We may store the
 unsubscribed email addresses for up to three years based on our legitimate
 interests before deleting them to provide evidence of prior consent. The
 processing of these data is limited to the purpose of a possible defense
 against claims. An individual deletion request is possible at any time,
 provided that the former existence of a consent is confirmed at the same
 time. In the case of an obligation to permanently observe an objection,
 we reserve the right to store the e-mail address solely for this purpose
 in a blocklist.
</p> <p> <strong>Information on legal bases:</strong> The sending of the newsletter
 is based on the consent of the recipients or, if consent is not required,
 on the basis of our legitimate interests in direct marketing. Insofar as
 we engage a service provider for sending e-mails, this is done on the basis
 of our legitimate interests. The registration procedure is recorded on
 the basis of our legitimate interests for the purpose of demonstrating
 that it has been conducted in accordance with the law.
</p> <p>Contents: Industry news, Information about us and our services.</p> <p> <strong>Measurement of opening rates and click rates</strong>: The
 newsletters contain a so-called "web-beacon", i.e. a pixel-sized file,
 which is retrieved from our server when the newsletter is opened or,
 if we use a mailing service provider, from its server. Within the
 scope of this retrieval, technical information such as information
 about the browser and your system, as well as your IP address and time
 of retrieval are first collected.
</p> <p>
This information is used for the technical improvement of our
 newsletter on the basis of technical data or target groups and their
 reading behaviour on the basis of their retrieval points (which can be
 determined with the help of the IP address) or access times. This
 analysis also includes determining whether newsletters are opened,
 when they are opened and which links are clicked. This information is
 assigned to the individual newsletter recipients and stored in their
 profiles until the profiles are deleted. The evaluations serve us much
 more to recognize the reading habits of our users and to adapt our
 content to them or to send different content according to the
 interests of our users.
</p> <p>
The measurement of opening rates and click rates as well as the
 storage of the measurement results in the profiles of the users and
 their further processing are based on the consent of the users.
</p> <p>
A separate objection to the performance measurement is unfortunately
 not possible, in this case the entire newsletter subscription must be
 cancelled or objected to. In this case, the stored profile information
 will be deleted.
</p> <ul> <li> <strong>Processed data types:</strong> Inventory data (e.g. names, addresses),
 Contact data (e.g. e-mail, telephone numbers), Meta/communication data
 (e.g. device information, IP addresses), Usage data (e.g. websites visited,
 interest in content, access times).
</li> <li> <strong>Data subjects:</strong> Communication partner (Recipients of
 e-mails, letters, etc.).
</li> <li> <strong>Purposes of Processing:</strong> Direct marketing (e.g. by e-mail
 or postal).
</li> <li> <strong>Legal Basis:</strong> Consent (Article 6 (1) (a) GDPR), Legitimate
 Interests (Article 6 (1) (f) GDPR).
</li> <li> <strong>Opt-Out:</strong> You can cancel the receipt of our newsletter
 at any time, i.e. revoke your consent or object to further receipt. You
 will find a link to cancel the newsletter either at the end of each newsletter
 or you can otherwise use one of the contact options listed above, preferably
 e-mail.
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>EmailOctopus:</strong> Email marketing platform; Service provider:
 Three Hearts Digital Ltd, Keltan House, 115 Mare Street, London, E8 4RU,
 UK; Website:
<a href="https://emailoctopus.com/"> https://emailoctopus.com/</a>;
 Privacy Policy:
<a href="https://emailoctopus.com/legal/privacy">
https://emailoctopus.com/legal/privacy
</a>.
</li> </ul> <p> <strong>Web Analysis, Monitoring and Optimization</strong> </p> <p>
We want to process as little personal information as possible when you
 use our website. That's why we've chosen Fathom Analytics for our
 website analytics, which doesn't use cookies and complies with the
 GDPR, ePrivacy (including PECR), COPPA and CCPA. Using this
 privacy-friendly website analytics software, your IP address is only
 briefly processed, and we (running this website) have no way of
 identifying you. As per the CCPA, your personal information is
 de-identified. You can read more about this on
<a href="https://usefathom.com/compliance">Fathom Analytics' website
</a>.
</p> <p>
The purpose of us using this software is to understand our website
 traffic in the most privacy-friendly way possible so that we can
 continually improve our website and business. The lawful basis as per
 the GDPR is "f); where our legitimate interests are to improve our
 website and business continually." As per the explanation, no personal
 data is stored over time.
</p> <p> <strong>Processed data types:</strong> Usage data (e.g. websites visited,
 interest in content, access times), Meta/communication data (e.g. device
 information, IP addresses).
</p> <ul> <li>
Data subjects: Users (e.g. website visitors, users of online
 services).
</li> <li>
Purposes of Processing: Web Analytics (e.g. access statistics,
 recognition of returning visitors), Profiles with user-related
 information (Creating user profiles).
</li> <li>
Security measures: IP Masking (Pseudonymization of the IP address).
</li> <li>
Legal Basis: Consent (Article 6 (1) (a) GDPR), Legitimate Interests
 (Article 6 (1) (f) GDPR).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Fathom:</strong> Web analytics; Service provider: Conva Ventures
 Inc. BOX 37058 Millstream PO, Victoria, BC, V9B 0E8, Canada; Website:
<a href="https://usefathom.com">https://usefathom.com</a>; Privacy
 Policy:
<a href="https://usefathom.com/privacy">
https://usefathom.com/privacy
</a>.
</li> </ul> <p> <strong>Profiles in Social Networks (Social Media)</strong> </p> <p>
We maintain online presences within social networks and process user
 data in this context in order to communicate with the users active
 there or to offer information about us.
</p> <p>
We would like to point out that user data may be processed outside the
 European Union. This may entail risks for users, e.g. by making it
 more difficult to enforce users' rights.
</p> <p>
In addition, user data is usually processed within social networks for
 market research and advertising purposes. For example, user profiles
 can be created on the basis of user behaviour and the associated
 interests of users. The user profiles can then be used, for example,
 to place advertisements within and outside the networks which are
 presumed to correspond to the interests of the users. For these
 purposes, cookies are usually stored on the user's computer, in which
 the user's usage behaviour and interests are stored. Furthermore, data
 can be stored in the user profiles independently of the devices used
 by the users (especially if the users are members of the respective
 networs or will become members later on).
</p> <p>
For a detailed description of the respective processing operations and
 the opt-out options, please refer to the respective data protection
 declarations and information provided by the providers of the
 respective networks.
</p> <p>
Also in the case of requests for information and the exercise of
 rights of data subjects, we point out that these can be most
 effectively pursued with the providers. Only the providers have access
 to the data of the users and can directly take appropriate measures
 and provide information. If you still need help, please do not
 hesitate to contact us.
</p> <p> <strong>Facebook</strong>: We are jointly responsible (so called
 "joint controller") with Facebook Ireland Ltd. for the collection (but
 not the further processing) of data of visitors to our Facebook page.
 This data includes information about the types of content users view
 or interact with, or the actions they take (see "Things that you and
 others do and provide" in the Facebook Data Policy:
<a href="https://www.facebook.com/policy">
https://www.facebook.com/policy
</a>), and information about the devices used by users (e.g., IP
 addresses, operating system, browser type, language settings, cookie
 information; see "Device Information" in the Facebook Data Policy:
<a href="https://www.facebook.com/policy">
https://www.facebook.com/policy
</a>). As explained in the Facebook Data Policy under "How we use this
 information?" Facebook also collects and uses information to provide
 analytics services, known as "page insights," to site operators to
 help them understand how people interact with their pages and with
 content associated with them. We have concluded a special agreement
 with Facebook ("Information about Page-Insights",
<a href="https://www.facebook.com/legal/terms/page_controller_addendum">
https://www.facebook.com/legal/terms/page_controller_addendum
</a>), which regulates in particular the security measures that
 Facebook must observe and in which Facebook has agreed to fulfill the
 rights of the persons concerned (i.e. users can send information
 access or deletion requests directly to Facebook). The rights of users
 (in particular to access to information, erasure, objection and
 complaint to the competent supervisory authority) are not restricted
 by the agreements with Facebook. Further information can be found in
 the "Information about Page Insights" (
<a href="https://www.facebook.com/legal/terms/information_about_page_insights_data">
https://www.facebook.com/legal/terms/information_about_page_insights_data
</a>).
</p> <ul> <li> <strong>Processed data types:</strong> Contact data (e.g. e-mail, telephone
 numbers), Content data (e.g. text input, photographs, videos), Usage
 data (e.g. websites visited, interest in content, access times), Meta/communication
 data (e.g. device information, IP addresses).
</li> <li> <strong>Data subjects:</strong> Users (e.g. website visitors, users of
 online services).
</li> <li> <strong>Purposes of Processing:</strong> Contact requests and communication,
 Feedback (e.g. collecting feedback via online form), Marketing.
</li> <li> <strong>Legal Basis:</strong> Legitimate Interests (Article 6 (1) (f)
 GDPR).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Instagram:</strong> Social network; Service provider: Instagram
 Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA, , Mutterunternehmen:
 Facebook, 1 Hacker Way, Menlo Park, CA 94025, USA; Website:
<a href="https://www.instagram.com">https://www.instagram.com</a>;
 Privacy Policy:
<a href="https://instagram.com/about/legal/privacy">
https://instagram.com/about/legal/privacy
</a>.
</li> <li> <strong>Facebook:</strong> Social network; Service provider: Facebook
 Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland,
 parent company: Facebook, 1 Hacker Way, Menlo Park, CA 94025, USA; Website:
<a href="https://www.facebook.com">https://www.facebook.com</a>;
 Privacy Policy:
<a href="https://www.facebook.com/about/privacy">
https://www.facebook.com/about/privacy
</a>; Opt-Out: Settings for advertisements:
<a href="https://www.facebook.com/adpreferences/ad_settings">
https://www.facebook.com/adpreferences/ad_settings
</a> (login at Facebook is required).
</li> <li> <strong>LinkedIn:</strong> Social network; Service provider: LinkedIn
 Ireland Unlimited Company, Wilton Place, Dublin 2, Ireland; Website:
<a href="https://www.linkedin.com">https://www.linkedin.com</a>;
 Privacy Policy:
<a href="https://www.linkedin.com/legal/privacy-policy">
https://www.linkedin.com/legal/privacy-policy
</a>; Opt-Out:
<a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out">
https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out
</a>.
</li> <li> <strong>Twitter:</strong> Social network; Service provider: Twitter International
 Company, One Cumberland Place, Fenian Street, Dublin 2 D02 AX07, Ireland,
 parent company: Twitter Inc., 1355 Market Street, Suite 900, San Francisco,
 CA 94103, USA; Privacy Policy:
<a href="https://twitter.com/de/privacy">
https://twitter.com/de/privacy
</a>, (Settings)
<a href="https://twitter.com/personalization">
https://twitter.com/personalization
</a>.
</li> </ul> <p> <strong>Management, Organization and Utilities</strong> </p> <p>
We use services, platforms and software from other providers
 (hereinafter referred to as " third-party providers") for the purposes
 of organizing, administering, planning and providing our services.
 When selecting third-party providers and their services, we comply
 with the legal requirements.
</p> <p>
Within this context, personal data may be processed and stored on the
 servers of third-party providers. This may include various data that
 we process in accordance with this privacy policy. This data may
 include in particular master data and contact data of users, data on
 processes, contracts, other processes and their contents.
</p> <p>
If users are referred to the third-party providers or their software
 or platforms in the context of communication, business or other
 relationships with us, the third-party provider processing may process
 usage data and metadata that can be processed by them for security
 purposes, service optimisation or marketing purposes. We therefore ask
 you to read the data protection notices of the respective third party
 providers.
</p> <p> <strong>Information on legal basis:</strong> If we ask the users for their
 consent to the use of third party providers, the legal basis of the processing
 is consent. Furthermore, the processing can be a component of our (pre)contractual
 services, provided that the use of the third party was agreed within this
 context. Otherwise, user data will be processed on the basis of our legitimate
 interests (i.e. interest in efficient, economic and recipient friendly
 services). In this context, we would also like to refer you to the information
 on the use of cookies in this privacy policy.
</p> <ul> <li> <strong>Processed data types:</strong> Inventory data (e.g. names, addresses),
 Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text
 input, photographs, videos), Usage data (e.g. websites visited, interest
 in content, access times), Meta/communication data (e.g. device information,
 IP addresses).
</li> <li> <strong>Data subjects:</strong> Communication partner (Recipients of
 e-mails, letters, etc.), Users (e.g. website visitors, users of online
 services), Business and contractual partners.
</li> <li> <strong>Purposes of Processing:</strong> Office and organisational procedures,
 Provision of contractual services and customer support.
</li> <li> <strong>Legal Basis:</strong> Consent (Article 6 (1) (a) GDPR), Performance
 of a contract and prior requests (Article 6 (1) (b) GDPR), Legitimate
 Interests (Article 6 (1) (f) GDPR).
</li> </ul> <p> <strong>Services and service providers being used:</strong> </p> <ul> <li> <strong>Asana:</strong> Project management - organization and administration
 of teams, groups, workflows, projects and processes; Service provider:
 Asana, Inc, 1550 Bryant Street, Suite 200, San Francisco, CA 94103, USA;
 Website:
<a href="https://asana.com/de">https://asana.com/de</a>; Privacy
 Policy:
<a href="https://asana.com/terms%23privacy-policy">
https://asana.com/terms#privacy-policy
</a>.
</li> <li> <strong>calendly:</strong> Online scheduling; Service provider: Calendly
 LLC., 271 17th St NW, Ste 1000, Atlanta, Georgia, 30363, USA; Website:
<a href="https://calendly.com">https://calendly.com</a>; Privacy
 Policy:
<a href="https://calendly.com/pages/privacy">
https://calendly.com/pages/privacy
</a>.
</li> <li> <strong>DocuSign:</strong> DocuSign provides a digital transaction management
 platform to facilitate digital transactions that include the signing
 process of contractual documents and other documents; Service provider:
 DocuSign, Inc., 221 Main Street Suite 1000 San Francisco, CA 94105, USA;
 Website:
<a href="https://www.docusign.com/"> https://www.docusign.com/ </a>;
 Privacy Policy:
<a href="https://www.docusign.com/company/privacy-policy">
https://www.docusign.com/company/privacy-policy
</a>; The processing as processor and controller is carried out on
 the basis of approved Binding Corporate Rules, which ensure a level
 of data protection in accordance with the requirements of the GDPR
 (Article 47 GDPR):
<a href="https://www.docusign.com/trust/privacy/binding-corporate-rules">
https://www.docusign.com/trust/privacy/binding-corporate-rules
</a>.
</li> <li> <strong>Miro:</strong> Online whiteboard and collaboration platform;
 Service provider: Realtimeboard Inc. dba Miro, 201 Spear Street Suite
 1100, San Francisco, California 94105, USA; Website:
<a href="https://miro.com/">https://miro.com/ </a>; Privacy Policy:
<a href="https://miro.com/legal/privacy-policy/">
https://miro.com/legal/privacy-policy/
</a>.
</li> </ul> <p> <strong>Changes and Updates to the Privacy Policy</strong> </p> <p>
We kindly ask you to inform yourself regularly about the contents of
 our data protection declaration. We will adjust the privacy policy as
 changes in our data processing practices make this necessary. We will
 inform you as soon as the changes require your cooperation (e.g.
 consent) or other individual notification.
</p> <p>
If we provide addresses and contact information of companies and
 organizations in this privacy policy, we ask you to note that
 addresses may change over time and to verify the information before
 contacting us.
</p> <p>Rights of Data Subjects</p> <p>
As data subject, you are entitled to various rights under the GDPR,
 which arise in particular from Articles 15 to 21 of the GDPR:
</p> <ul> <li> <strong>Right to Object: You have the right, on grounds arising from your
 particular situation, to object at any time to the processing of
 your personal data which is based on letter (e) or (f) of Article
 6(1) GDPR , including profiling based on those provisions.Where
 personal data are processed for direct marketing purposes, you
 have the right to object at any time to the processing of the
 personal data concerning you for the purpose of such marketing,
 which includes profiling to the extent that it is related to such
 direct marketing.</strong> </li> <li> <strong>Right of withdrawal for consents:</strong> You have the right
 to revoke consents at any time.
</li> <li> <strong>Right of access:</strong> You have the right to request confirmation
 as to whether the data in question will be processed and to be informed
 of this data and to receive further information and a copy of the data
 in accordance with the provisions of the law.
</li> <li> <strong>Right to rectification:</strong> You have the right, in accordance
 with the law, to request the completion of the data concerning you or
 the rectification of the incorrect data concerning you.
</li> <li> <strong>Right to Erasure and Right to Restriction of Processing:</strong> In accordance with the statutory provisions, you have the right to
 demand that the relevant data be erased immediately or, alternatively,
 to demand that the processing of the data be restricted in accordance
 with the statutory provisions.
</li> <li> <strong>Right to data portability:</strong> You have the right to receive
 data concerning you which you have provided to us in a structured, common
 and machine-readable format in accordance with the legal requirements,
 or to request its transmission to another controller.
</li> <li> <strong>Complaint to the supervisory authority:</strong> In accordance
 with the law and without prejudice to any other administrative or judicial
 remedy, you also have the right to lodge a complaint with a data protection
 supervisory authority, in particular a supervisory authority in the Member
 State where you habitually reside, the supervisory authority of your
 place of work or the place of the alleged infringement, if you consider
 that the processing of personal data concerning you infringes the GDPR.
</li> </ul> <p>Supervisory authority competent for us:&nbsp;</p> <p>
The Hamburg Commissioner for Data Protection and Freedom of
 InformationUlrich Kühn (V.i.A.)Ludwig-Erhard-Str. 22 7.OG20459
 HamburgPhone: +49 40 428 54 40 40
</p> <p><strong>Terminology and Definitions</strong></p> <p>
This section provides an overview of the terms used in this privacy
 policy. Many of the terms are drawn from the law and defined mainly in
 Article 4 GDPR. The legal definitions are binding. The following
 explanations, on the other hand, are intended above all for the
 purpose of comprehension. The terms are sorted alphabetically.
</p> <ul> <li> <strong>Content Delivery Network (CDN):</strong> A "Content Delivery
 Network" (CDN) is a service with whose help contents of our online services,
 in particular large media files, such as graphics or scripts, can be
 delivered faster and more securely with the help of regionally distributed
 servers connected via the Internet.
</li> <li> <strong>Controller:</strong> "Controller" means the natural or legal
 person, public authority, agency or other body which, alone or jointly
 with others, determines the purposes and means of the processing of personal
 data.
</li> <li> <strong>Conversion tracking:</strong> Conversion tracking is a method
 used to evaluate the effectiveness of marketing measures. For this purpose,
 a cookie is usually stored on the devices of the users within the websites
 on which the marketing measures take place and then called up again on
 the target website (e.g. we can thus trace whether the advertisements
 placed by us on other websites were successful).
</li> <li> <strong>IP Masking:</strong> IP masking is a method by which the last
 octet, i.e. the last two numbers of an IP address, are deleted so that
 the IP address alone can no longer be used to uniquely identify a person.
 IP masking is therefore a means of pseudonymising processing methods,
 particularly in online marketing.
</li> <li> <strong>Personal Data:</strong> "personal data" means any information
 relating to an identified or identifiable natural person ("data subject");
 an identifiable natural person is one who can be identified, directly
 or indirectly, in particular by reference to an identifier such as a
 name, an identification number, location data, an online identifier or
 to one or more factors specific to the physical, physiological, genetic,
 mental, economic, cultural or social identity of that natural person.
</li> <li> <strong>Processing:</strong> The term "processing" covers a wide range
 and practically every handling of data, be it collection, evaluation,
 storage, transmission or erasure.
</li> <li> <strong>Profiles with user-related information:</strong> The processing
 of "profiles with user-related information", or "profiles" for short,
 includes any kind of automated processing of personal data that consists
 of using these personal data to analyse, evaluate or predict certain
 personal aspects relating to a natural person (depending on the type
 of profiling, this may include different information concerning demographics,
 behaviour and interests, such as interaction with websites and their
 content, etc.) (e.g. interests in certain content or products, click
 behaviour on a website or location). Cookies and web beacons are often
 used for profiling purposes.
</li> <li> <strong>Web Analytics:</strong> Web Analytics serves the evaluation of
 visitor traffic of online services and can determine their behavior or
 interests in certain information, such as content of websites. With the
 help of web analytics, website owners, for example, can recognize at
 what time visitors visit their website and what content they are interested
 in. This allows them, for example, to optimize the content of the website
 to better meet the needs of their visitors. For purposes of web analytics,
 pseudonymous cookies and web beacons are frequently used in order to
 recognise returning visitors and thus obtain more precise analyses of
 the use of an online service.
</li> </ul> </div>

    </div>
  </div>
</dialog>

<style>
  dialog {
    max-width: 100%;
    max-height: 100dvh;
    width: 100%;
    height: 100dvh;
    background-color: var(--c-grey-dark);
    border: none;
    overflow: clip;
    animation: dialog-fade-out 0.4s var(--ease-in-out-custom);
  }

  dialog[open] {
    animation: dialog-fade-in 0.4s var(--ease-in-out-custom);
  }

  .container {
    position: relative;
    height: 100%;
    padding-block: var(--grid-margin);
  }

  .inner {
    max-height: calc(100dvh - 2 * var(--grid-margin));
    height: 100%;
    padding: clamp(
      0.9375rem,
      1500 / (var(--fluid-max) - var(--fluid-min)) * 1vw +
        (var(--fluid-min) * 30 - var(--fluid-max) * 15) /
        (var(--fluid-min) - var(--fluid-max)) / 16 * 1rem,
      1.875rem
    );
    padding-top: 6.25rem;
    background-color: var(--c-grey-light);
    border-radius: 0.625rem;
    overflow: auto;
  }

  .close {
    position: absolute;
    top: clamp(
      1.875rem,
      1000 / (var(--fluid-max) - var(--fluid-min)) * 1vw +
        (var(--fluid-min) * 40 - var(--fluid-max) * 30) /
        (var(--fluid-min) - var(--fluid-max)) / 16 * 1rem,
      2.5rem
    );
    right: clamp(
      1.875rem,
      1000 / (var(--fluid-max) - var(--fluid-min)) * 1vw +
        (var(--fluid-min) * 40 - var(--fluid-max) * 30) /
        (var(--fluid-min) - var(--fluid-max)) / 16 * 1rem,
      2.5rem
    );
    z-index: 1;
    padding: clamp(
      0.625rem,
      1000 / (var(--fluid-max) - var(--fluid-min)) * 1vw +
        (var(--fluid-min) * 20 - var(--fluid-max) * 10) /
        (var(--fluid-min) - var(--fluid-max)) / 16 * 1rem,
      1.25rem
    );
    aspect-ratio: 1 / 1;
    font-size: 1rem;
    color: var(--c-light);
    background-color: var(--c-dark);
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  .close:focus-visible {
    outline: 2px solid var(--c-primary);
    outline-offset: 3px;
  }

  .close svg {
    width: clamp(
      0.9375rem,
      500 / (var(--fluid-max) - var(--fluid-min)) * 1vw +
        (var(--fluid-min) * 20 - var(--fluid-max) * 15) /
        (var(--fluid-min) - var(--fluid-max)) / 16 * 1rem,
      1.25rem
    );
    height: clamp(
      0.9375rem,
      500 / (var(--fluid-max) - var(--fluid-min)) * 1vw +
        (var(--fluid-min) * 20 - var(--fluid-max) * 15) /
        (var(--fluid-min) - var(--fluid-max)) / 16 * 1rem,
      1.25rem
    );
    aspect-ratio: 1 / 1;
  }

  :global(.richtext) {
    max-width: 60rem;
    hyphens: auto;
  }
</style>

<script>
  const openBtns = document.querySelectorAll<HTMLButtonElement>('[data-js="dialog-privacy-open"]');
  const closeBtn = document.querySelector<HTMLButtonElement>('[data-js="dialog-privacy-close"]');
  const dialog = document.querySelector<HTMLDialogElement>('[data-js="dialog-privacy"]');

  openBtns?.forEach(a => {
    a.addEventListener('click', () => {
      dialog?.showModal();
      window.dispatchEvent(new Event('nav:stop'));
    });
  });

  closeBtn?.addEventListener('click', () => {
    dialog?.close();
  });

  dialog?.addEventListener('close', () => {
    window.dispatchEvent(new Event('nav:start'));
  });
</script>
